@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes up {
  0% {
    -webkit-transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0);
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
*[data-a=animate-up] {
  -webkit-animation: up 1s ease forwards;
  -webkit-transform-origin: top;
}
*[data-a=animate-down] {
  -webkit-animation: down 1s ease forwards;
  -webkit-transform-origin: top;
}
*[data-a=animate-fadein] {
  -webkit-animation: fadein 1s ease forwards;
  -webkit-transform-origin: left top;
}
*[data-a=animate-fadeout] {
  -webkit-animation: fadeout 1s ease forwards;
  -webkit-transform-origin: left top;
  display: none;
}
*[data-a=animate-hide] {
  -webkit-animation: hide 1s ease forwards;
  -webkit-transform-origin: top center;
}
*[data-a=animate-show] {
  -webkit-animation: show 1s ease forwards;
  -webkit-transform-origin: top center;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: translate(30px, 0px);
  }
  2.77777778% {
    -webkit-transform: translate(30px, 0px);
  }
  5.55555556% {
    -webkit-transform: translate(30px, 0px);
  }
  8.33333333% {
    -webkit-transform: translate(30px, 0px);
  }
  11.11111111% {
    -webkit-transform: translate(30px, 0px);
  }
  13.88888889% {
    -webkit-transform: translate(30px, 0px);
  }
  16.66666667% {
    -webkit-transform: translate(30px, 0px);
  }
  19.44444444% {
    -webkit-transform: translate(30px, 0px);
  }
  22.22222222% {
    -webkit-transform: translate(30px, 0px);
  }
  25% {
    -webkit-transform: translate(30px, 0px);
  }
  27.77777778% {
    -webkit-transform: translate(30px, 0px);
  }
  30.55555556% {
    -webkit-transform: translate(30px, 0px);
  }
  33.33333333% {
    -webkit-transform: translate(30px, 0px);
  }
  36.11111111% {
    -webkit-transform: translate(30px, 0px);
  }
  38.88888889% {
    -webkit-transform: translate(30px, 0px);
  }
  41.66666667% {
    -webkit-transform: translate(30px, 0px);
  }
  44.44444444% {
    -webkit-transform: translate(30px, 0px);
  }
  47.22222222% {
    -webkit-transform: translate(30px, 0px);
  }
  50% {
    -webkit-transform: translate(30px, 0px);
  }
  52.77777778% {
    -webkit-transform: translate(30px, 0px);
  }
  55.55555556% {
    -webkit-transform: translate(30px, 0px);
  }
  58.33333333% {
    -webkit-transform: translate(30px, 0px);
  }
  61.11111111% {
    -webkit-transform: translate(30px, 0px);
  }
  63.88888889% {
    -webkit-transform: translate(30px, 0px);
  }
  66.66666667% {
    -webkit-transform: translate(30px, 0px);
  }
  69.44444444% {
    -webkit-transform: translate(30px, 0px);
  }
  72.22222222% {
    -webkit-transform: translate(30px, 0px);
  }
  75% {
    -webkit-transform: translate(30px, 0px);
  }
  77.77777778% {
    -webkit-transform: translate(30px, 0px);
  }
  80.55555556% {
    -webkit-transform: translate(30px, 0px);
  }
  83.33333333% {
    -webkit-transform: translate(30px, 0px);
  }
  86.11111111% {
    -webkit-transform: translate(30px, 0px);
  }
  88.88888889% {
    -webkit-transform: translate(30px, 0px);
  }
  91.66666667% {
    -webkit-transform: translate(30px, 0px);
  }
  94.44444444% {
    -webkit-transform: translate(30px, 0px);
  }
  97.22222222% {
    -webkit-transform: translate(30px, 0px);
  }
  100% {
    -webkit-transform: translate(30px, 0px);
  }
}
*[class='a0'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: 40px;
  top: 0px;
  border-radius: 50%;
}
*[class='aa0'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 70px;
  top: 0px;
  border-radius: 50%;
}
*[class='a1'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: 12.36067977px;
  top: 38.04226065px;
  border-radius: 50%;
}
*[class='aa1'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 21.63118961px;
  top: 66.57395614px;
  border-radius: 50%;
}
*[class='a2'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: -32.36067977px;
  top: 23.51141009px;
  border-radius: 50%;
}
*[class='aa2'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: -56.63118961px;
  top: 41.14496766px;
  border-radius: 50%;
}
*[class='a3'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: -32.36067977px;
  top: -23.51141009px;
  border-radius: 50%;
}
*[class='aa3'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: -56.63118961px;
  top: -41.14496766px;
  border-radius: 50%;
}
*[class='a4'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: 12.36067977px;
  top: -38.04226065px;
  border-radius: 50%;
}
*[class='aa4'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 21.63118961px;
  top: -66.57395614px;
  border-radius: 50%;
}
*[class='a5'] {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  color: #fff;
  overflow: hidden;
  left: 40px;
  top: 0px;
  border-radius: 50%;
}
*[class='aa5'] {
  width: 60px;
  color: #fff;
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 70px;
  top: 0px;
  border-radius: 50%;
}
@media screen and (min-width: 747px) {
  *[class='aa0'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: 210px;
    top: 0px;
    border-radius: 50%;
  }
  *[class='a0'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 0px;
    border-radius: 50%;
  }
  *[class='aa1'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: 64.89356882px;
    top: 199.72186842px;
    border-radius: 50%;
  }
  *[class='a1'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 37.08203932px;
    top: 114.12678196px;
    border-radius: 50%;
  }
  *[class='aa2'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: -169.89356882px;
    top: 123.43490298px;
    border-radius: 50%;
  }
  *[class='a2'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: -97.08203932px;
    top: 70.53423028px;
    border-radius: 50%;
  }
  *[class='aa3'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: -169.89356882px;
    top: -123.43490298px;
    border-radius: 50%;
  }
  *[class='a3'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: -97.08203932px;
    top: -70.53423028px;
    border-radius: 50%;
  }
  *[class='aa4'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: 64.89356882px;
    top: -199.72186842px;
    border-radius: 50%;
  }
  *[class='a4'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 37.08203932px;
    top: -114.12678196px;
    border-radius: 50%;
  }
  *[class='aa5'] {
    width: 200px;
    color: #fff;
    overflow: hidden;
    height: 200px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    padding: 65px 20px;
    left: 210px;
    top: 0px;
    border-radius: 50%;
  }
  *[class='a5'] {
    width: 200px;
    color: #fff;
    font-size: 16px;
    padding: 65px 20px;
    height: 200px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 0px;
    border-radius: 50%;
  }
}
*[data=a] {
  -webkit-animation: round 2s linear infinite;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.7, 0.7);
  }
}
*[data=scale] {
  -webkit-animation: round 1s linear alternate  infinite;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
*[data-a*=animate-circle] {
  -webkit-animation: circle 20s linear infinite;
}
@-webkit-keyframes circle1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
*[data-a*=animate-circle1] {
  -webkit-animation: circle1 1s ease ;
}
@-webkit-keyframes quxian {
  0% {
    -webkit-transform: translate(80px, 0px);
  }
  0.83333333% {
    -webkit-transform: translate(79.89036278px, 3.42020143px);
  }
  1.66666667% {
    -webkit-transform: translate(79.56175163px, 6.4278761px);
  }
  2.5% {
    -webkit-transform: translate(79.01506725px, 8.66025404px);
  }
  3.33333333% {
    -webkit-transform: translate(78.25180806px, 9.84807753px);
  }
  4.16666667% {
    -webkit-transform: translate(77.2740661px, 9.84807753px);
  }
  5% {
    -webkit-transform: translate(76.0845213px, 8.66025404px);
  }
  5.83333333% {
    -webkit-transform: translate(74.68643412px, 6.4278761px);
  }
  6.66666667% {
    -webkit-transform: translate(73.08363661px, 3.42020143px);
  }
  7.5% {
    -webkit-transform: translate(71.28052194px, 0px);
  }
  8.33333333% {
    -webkit-transform: translate(69.2820323px, -3.42020143px);
  }
  9.16666667% {
    -webkit-transform: translate(67.09364544px, -6.4278761px);
  }
  10% {
    -webkit-transform: translate(64.72135955px, -8.66025404px);
  }
  10.83333333% {
    -webkit-transform: translate(62.17167692px, -9.84807753px);
  }
  11.66666667% {
    -webkit-transform: translate(59.45158604px, -9.84807753px);
  }
  12.5% {
    -webkit-transform: translate(56.56854249px, -8.66025404px);
  }
  13.33333333% {
    -webkit-transform: translate(53.53044851px, -6.4278761px);
  }
  14.16666667% {
    -webkit-transform: translate(50.34563128px, -3.42020143px);
  }
  15% {
    -webkit-transform: translate(47.02282018px, 0px);
  }
  15.83333333% {
    -webkit-transform: translate(43.5711228px, 3.42020143px);
  }
  16.66666667% {
    -webkit-transform: translate(40px, 6.4278761px);
  }
  17.5% {
    -webkit-transform: translate(36.31923998px, 8.66025404px);
  }
  18.33333333% {
    -webkit-transform: translate(32.53893145px, 9.84807753px);
  }
  19.16666667% {
    -webkit-transform: translate(28.66943596px, 9.84807753px);
  }
  20% {
    -webkit-transform: translate(24.72135955px, 8.66025404px);
  }
  20.83333333% {
    -webkit-transform: translate(20.70552361px, 6.4278761px);
  }
  21.66666667% {
    -webkit-transform: translate(16.63293527px, 3.42020143px);
  }
  22.5% {
    -webkit-transform: translate(12.5147572px, 0px);
  }
  23.33333333% {
    -webkit-transform: translate(8.36227706px, -3.42020143px);
  }
  24.16666667% {
    -webkit-transform: translate(4.1868765px, -6.4278761px);
  }
  25% {
    -webkit-transform: translate(0px, -8.66025404px);
  }
  25.83333333% {
    -webkit-transform: translate(-4.1868765px, -9.84807753px);
  }
  26.66666667% {
    -webkit-transform: translate(-8.36227706px, -9.84807753px);
  }
  27.5% {
    -webkit-transform: translate(-12.5147572px, -8.66025404px);
  }
  28.33333333% {
    -webkit-transform: translate(-16.63293527px, -6.4278761px);
  }
  29.16666667% {
    -webkit-transform: translate(-20.70552361px, -3.42020143px);
  }
  30% {
    -webkit-transform: translate(-24.72135955px, 0px);
  }
  30.83333333% {
    -webkit-transform: translate(-28.66943596px, 3.42020143px);
  }
  31.66666667% {
    -webkit-transform: translate(-32.53893145px, 6.4278761px);
  }
  32.5% {
    -webkit-transform: translate(-36.31923998px, 8.66025404px);
  }
  33.33333333% {
    -webkit-transform: translate(-40px, 9.84807753px);
  }
  34.16666667% {
    -webkit-transform: translate(-43.5711228px, 9.84807753px);
  }
  35% {
    -webkit-transform: translate(-47.02282018px, 8.66025404px);
  }
  35.83333333% {
    -webkit-transform: translate(-50.34563128px, 6.4278761px);
  }
  36.66666667% {
    -webkit-transform: translate(-53.53044851px, 3.42020143px);
  }
  37.5% {
    -webkit-transform: translate(-56.56854249px, 0px);
  }
  38.33333333% {
    -webkit-transform: translate(-59.45158604px, -3.42020143px);
  }
  39.16666667% {
    -webkit-transform: translate(-62.17167692px, -6.4278761px);
  }
  40% {
    -webkit-transform: translate(-64.72135955px, -8.66025404px);
  }
  40.83333333% {
    -webkit-transform: translate(-67.09364544px, -9.84807753px);
  }
  41.66666667% {
    -webkit-transform: translate(-69.2820323px, -9.84807753px);
  }
  42.5% {
    -webkit-transform: translate(-71.28052194px, -8.66025404px);
  }
  43.33333333% {
    -webkit-transform: translate(-73.08363661px, -6.4278761px);
  }
  44.16666667% {
    -webkit-transform: translate(-74.68643412px, -3.42020143px);
  }
  45% {
    -webkit-transform: translate(-76.0845213px, 0px);
  }
  45.83333333% {
    -webkit-transform: translate(-77.2740661px, 3.42020143px);
  }
  46.66666667% {
    -webkit-transform: translate(-78.25180806px, 6.4278761px);
  }
  47.5% {
    -webkit-transform: translate(-79.01506725px, 8.66025404px);
  }
  48.33333333% {
    -webkit-transform: translate(-79.56175163px, 9.84807753px);
  }
  49.16666667% {
    -webkit-transform: translate(-79.89036278px, 9.84807753px);
  }
  50% {
    -webkit-transform: translate(-80px, 8.66025404px);
  }
  50.83333333% {
    -webkit-transform: translate(-79.89036278px, 6.4278761px);
  }
  51.66666667% {
    -webkit-transform: translate(-79.56175163px, 3.42020143px);
  }
  52.5% {
    -webkit-transform: translate(-79.01506725px, 0px);
  }
  53.33333333% {
    -webkit-transform: translate(-78.25180806px, -3.42020143px);
  }
  54.16666667% {
    -webkit-transform: translate(-77.2740661px, -6.4278761px);
  }
  55% {
    -webkit-transform: translate(-76.0845213px, -8.66025404px);
  }
  55.83333333% {
    -webkit-transform: translate(-74.68643412px, -9.84807753px);
  }
  56.66666667% {
    -webkit-transform: translate(-73.08363661px, -9.84807753px);
  }
  57.5% {
    -webkit-transform: translate(-71.28052194px, -8.66025404px);
  }
  58.33333333% {
    -webkit-transform: translate(-69.2820323px, -6.4278761px);
  }
  59.16666667% {
    -webkit-transform: translate(-67.09364544px, -3.42020143px);
  }
  60% {
    -webkit-transform: translate(-64.72135955px, 0px);
  }
  60.83333333% {
    -webkit-transform: translate(-62.17167692px, 3.42020143px);
  }
  61.66666667% {
    -webkit-transform: translate(-59.45158604px, 6.4278761px);
  }
  62.5% {
    -webkit-transform: translate(-56.56854249px, 8.66025404px);
  }
  63.33333333% {
    -webkit-transform: translate(-53.53044851px, 9.84807753px);
  }
  64.16666667% {
    -webkit-transform: translate(-50.34563128px, 9.84807753px);
  }
  65% {
    -webkit-transform: translate(-47.02282018px, 8.66025404px);
  }
  65.83333333% {
    -webkit-transform: translate(-43.5711228px, 6.4278761px);
  }
  66.66666667% {
    -webkit-transform: translate(-40px, 3.42020143px);
  }
  67.5% {
    -webkit-transform: translate(-36.31923998px, 0px);
  }
  68.33333333% {
    -webkit-transform: translate(-32.53893145px, -3.42020143px);
  }
  69.16666667% {
    -webkit-transform: translate(-28.66943596px, -6.4278761px);
  }
  70% {
    -webkit-transform: translate(-24.72135955px, -8.66025404px);
  }
  70.83333333% {
    -webkit-transform: translate(-20.70552361px, -9.84807753px);
  }
  71.66666667% {
    -webkit-transform: translate(-16.63293527px, -9.84807753px);
  }
  72.5% {
    -webkit-transform: translate(-12.5147572px, -8.66025404px);
  }
  73.33333333% {
    -webkit-transform: translate(-8.36227706px, -6.4278761px);
  }
  74.16666667% {
    -webkit-transform: translate(-4.1868765px, -3.42020143px);
  }
  75% {
    -webkit-transform: translate(0px, 0px);
  }
  75.83333333% {
    -webkit-transform: translate(4.1868765px, 3.42020143px);
  }
  76.66666667% {
    -webkit-transform: translate(8.36227706px, 6.4278761px);
  }
  77.5% {
    -webkit-transform: translate(12.5147572px, 8.66025404px);
  }
  78.33333333% {
    -webkit-transform: translate(16.63293527px, 9.84807753px);
  }
  79.16666667% {
    -webkit-transform: translate(20.70552361px, 9.84807753px);
  }
  80% {
    -webkit-transform: translate(24.72135955px, 8.66025404px);
  }
  80.83333333% {
    -webkit-transform: translate(28.66943596px, 6.4278761px);
  }
  81.66666667% {
    -webkit-transform: translate(32.53893145px, 3.42020143px);
  }
  82.5% {
    -webkit-transform: translate(36.31923998px, 0px);
  }
  83.33333333% {
    -webkit-transform: translate(40px, -3.42020143px);
  }
  84.16666667% {
    -webkit-transform: translate(43.5711228px, -6.4278761px);
  }
  85% {
    -webkit-transform: translate(47.02282018px, -8.66025404px);
  }
  85.83333333% {
    -webkit-transform: translate(50.34563128px, -9.84807753px);
  }
  86.66666667% {
    -webkit-transform: translate(53.53044851px, -9.84807753px);
  }
  87.5% {
    -webkit-transform: translate(56.56854249px, -8.66025404px);
  }
  88.33333333% {
    -webkit-transform: translate(59.45158604px, -6.4278761px);
  }
  89.16666667% {
    -webkit-transform: translate(62.17167692px, -3.42020143px);
  }
  90% {
    -webkit-transform: translate(64.72135955px, 0px);
  }
  90.83333333% {
    -webkit-transform: translate(67.09364544px, 3.42020143px);
  }
  91.66666667% {
    -webkit-transform: translate(69.2820323px, 6.4278761px);
  }
  92.5% {
    -webkit-transform: translate(71.28052194px, 8.66025404px);
  }
  93.33333333% {
    -webkit-transform: translate(73.08363661px, 9.84807753px);
  }
  94.16666667% {
    -webkit-transform: translate(74.68643412px, 9.84807753px);
  }
  95% {
    -webkit-transform: translate(76.0845213px, 8.66025404px);
  }
  95.83333333% {
    -webkit-transform: translate(77.2740661px, 6.4278761px);
  }
  96.66666667% {
    -webkit-transform: translate(78.25180806px, 3.42020143px);
  }
  97.5% {
    -webkit-transform: translate(79.01506725px, 0px);
  }
  98.33333333% {
    -webkit-transform: translate(79.56175163px, -3.42020143px);
  }
  99.16666667% {
    -webkit-transform: translate(79.89036278px, -6.4278761px);
  }
  100% {
    -webkit-transform: translate(80px, -8.66025404px);
  }
}
*[data-a*=animate-quxian] {
  -webkit-animation: quxian 2s linear infinite;
}
@-webkit-keyframes round1 {
  0% {
    -webkit-transform: translate(30px, 0px);
  }
  2.77777778% {
    -webkit-transform: translate(29.54423259px, 5.20944533px);
  }
  5.55555556% {
    -webkit-transform: translate(28.19077862px, 10.2606043px);
  }
  8.33333333% {
    -webkit-transform: translate(25.98076211px, 15px);
  }
  11.11111111% {
    -webkit-transform: translate(22.98133329px, 19.28362829px);
  }
  13.88888889% {
    -webkit-transform: translate(19.28362829px, 22.98133329px);
  }
  16.66666667% {
    -webkit-transform: translate(15px, 25.98076211px);
  }
  19.44444444% {
    -webkit-transform: translate(10.2606043px, 28.19077862px);
  }
  22.22222222% {
    -webkit-transform: translate(5.20944533px, 29.54423259px);
  }
  25% {
    -webkit-transform: translate(0px, 30px);
  }
  27.77777778% {
    -webkit-transform: translate(-5.20944533px, 29.54423259px);
  }
  30.55555556% {
    -webkit-transform: translate(-10.2606043px, 28.19077862px);
  }
  33.33333333% {
    -webkit-transform: translate(-15px, 25.98076211px);
  }
  36.11111111% {
    -webkit-transform: translate(-19.28362829px, 22.98133329px);
  }
  38.88888889% {
    -webkit-transform: translate(-22.98133329px, 19.28362829px);
  }
  41.66666667% {
    -webkit-transform: translate(-25.98076211px, 15px);
  }
  44.44444444% {
    -webkit-transform: translate(-28.19077862px, 10.2606043px);
  }
  47.22222222% {
    -webkit-transform: translate(-29.54423259px, 5.20944533px);
  }
  50% {
    -webkit-transform: translate(-30px, 0px);
  }
  52.77777778% {
    -webkit-transform: translate(-29.54423259px, -5.20944533px);
  }
  55.55555556% {
    -webkit-transform: translate(-28.19077862px, -10.2606043px);
  }
  58.33333333% {
    -webkit-transform: translate(-25.98076211px, -15px);
  }
  61.11111111% {
    -webkit-transform: translate(-22.98133329px, -19.28362829px);
  }
  63.88888889% {
    -webkit-transform: translate(-19.28362829px, -22.98133329px);
  }
  66.66666667% {
    -webkit-transform: translate(-15px, -25.98076211px);
  }
  69.44444444% {
    -webkit-transform: translate(-10.2606043px, -28.19077862px);
  }
  72.22222222% {
    -webkit-transform: translate(-5.20944533px, -29.54423259px);
  }
  75% {
    -webkit-transform: translate(0px, -30px);
  }
  77.77777778% {
    -webkit-transform: translate(5.20944533px, -29.54423259px);
  }
  80.55555556% {
    -webkit-transform: translate(10.2606043px, -28.19077862px);
  }
  83.33333333% {
    -webkit-transform: translate(15px, -25.98076211px);
  }
  86.11111111% {
    -webkit-transform: translate(19.28362829px, -22.98133329px);
  }
  88.88888889% {
    -webkit-transform: translate(22.98133329px, -19.28362829px);
  }
  91.66666667% {
    -webkit-transform: translate(25.98076211px, -15px);
  }
  94.44444444% {
    -webkit-transform: translate(28.19077862px, -10.2606043px);
  }
  97.22222222% {
    -webkit-transform: translate(29.54423259px, -5.20944533px);
  }
  100% {
    -webkit-transform: translate(30px, 0px);
  }
}
*[data-a*=animate-round1] {
  -webkit-animation: round1 2s linear infinite;
}
